{% extends 'Shop/base.html' %}
{% load static %}
{#{% load filters %}#}
{% block content %}

    <div class="cart-banner">
        <img src="{% static 'Shop/img/about-banner.jpg' %}" alt="" class="page-banner">
        <div class="page-info">
            <h1>О компании</h1>
{#            <p><a href="">Главная</a> / <a href="">О компании</a></p>#}
        </div>
    </div>

    <main class="about-main">
        <section class="">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </section>
    </main>


{% endblock content %}