{% extends 'shop/base.html' %}
{% load static %}
{% load temp_filter %}
{% block content %}


    <div class="sub-banner">
        <div style="background-image: url('{% static 'Shop/img/cart-banner.jpg' %}')" class="page-info">
            <h1>Моя корзина</h1>
            <p><a href="{% url 'shop:index' %}">Главная</a> / <span>Корзина</span></p>
        </div>
    </div>

    <main class="cart-main">
        <section class="shopping-cart p-lg-5 p-md-3 p-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="mb-2">
                            <form method="post" action="{% url 'shop:make_order' %}" id="make_order">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="full_name">Ваше имя</label>
                                    <input type="text" class="form-control" id="full_name" name="full_name"
                                           placeholder="ФИО" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Номер телефона</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           placeholder=" 8 777-777-77-77" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Почтовый адрес</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="email@example.com">
                                </div>
                                <div class="form-group d-flex justify-content-around align-items-center">
                                    <div>
                                        <label for="courier" class="mr-3"> Курьером </label>
                                        <input type="radio" name="delivery" id="courier" checked onclick="courierSel()" value="курьером">
                                    </div>

                                    <div>
                                        <label for="selfdel" class="mr-3"> Самовывоз </label>
                                        <input type="radio" name="delivery" id="selfdel" onclick="selfSel()" value="самовывоз">
                                    </div>
                                </div>
                                <div id="optionalFields" class="p-0 m-0">
                                    <div class="form-group">
                                        <label for="citySel">Выберите город</label>
                                        <select class="form-control" id="citySel" name="city">
                                            <option>Алматы</option>
                                            <option>Нур-Султан</option>
                                            <option>Шымкент</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Адрес</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                               placeholder="улица, дом, кв" required>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-around align-items-center">
                                    <div>
                                        <label for="bCard" class="mr-3"> Банковской картой </label>
                                        <input type="radio" name="payment" id="bCard" checked
                                               onclick="paySel('картой')" value="картой">
                                    </div>

                                    <div>
                                        <label for="cash" class="mr-3"> Наличными </label>
                                        <input type="radio" name="payment" id="cash" onclick="paySel('наличными')" value="наличными">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mb-3">
                            <div class="pt-4 wish-list">
                                <h2 class="mb-4">В Корзине (<span id="cartSize">{{ cartSize }}</span>)</h2>
                                <div id="cartItemsList">
                                    {% if cartSize == 0 %}
                                        Пока нет товаров
                                    {% else %}
                                        {% for cp in items %}
                                            <div class="cart-item">
                                                <div class="row mb-4">
                                                    <div class="col-md-5 col-lg-3 col-xl-3">
                                                        <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                                            <img class="img-fluid w-100"
                                                                 src="{{ cp.product.prod.productphoto_set.all.0.img.url }}"
                                                                 alt="{{ cp.product.prod.productphoto_set.all.0.alt }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-lg-9 col-xl-9">
                                                        <div class="cart-item-info">
                                                            <div class="d-flex justify-content-between flex-wrap">
                                                                <div class="col-lg-6 col-md-6 col-12">
                                                                    <h3>{{ cp.product.prod.name }}</h3>
                                                                    {% for ch in cp.product.prodval_set.all %}
                                                                        <p class="mb-3 text-muted text-uppercase small"> {{ ch.prop.name }}:
                                                                            {{ ch.value }}</p>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-12 counter-box text-center">
                                                                    <form action="{% url 'shop:modify' %}"
                                                                          id="modifyItem{{ cp.id }}"
                                                                          method="get">
                                                                        <div class="def-number-input number-input safari_only mb-0 w-100">
                                                                            <button type="submit"
                                                                                    onclick="minusAmount({{ cp.id }})"
                                                                                    class="minus decrease"><i
                                                                                    class="fas fa-minus"></i>
                                                                            </button>
                                                                            <input class="quantity" min="0"
                                                                                   name="item{{ cp.id }}Amount"
                                                                                   id="item{{ cp.id }}Amount"
                                                                                   value="{{ cp.amount }}"
                                                                                   type="number">
                                                                            <button type="submit"
                                                                                    onclick="addAmount({{ cp.id }})"
                                                                                    class="plus increase"><i
                                                                                    class="fas fa-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <form action="{% url 'shop:delete_item' %}"
                                                                      id="delete_item{{ cp.id }}"
                                                                      method="get">

                                                                    <div>
                                                                        <button onclick="delItem({{ cp.id }})"
                                                                                class="btn small text-uppercase mr-3">
                                                                            <i
                                                                                    class="fas fa-trash-alt mr-1"></i>
                                                                            Убрать из
                                                                            корзины
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                                <p class="mb-0"><span
                                                                        id="item{{ cp.id }}Price">{{ cp.product.price }}</span> ₸
                                                                    X
                                                                    <span id="item{{ cp.id }}Count">{{ cp.amount }}</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <hr class="mb-4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <div class="pt-4">
                                <h2 class="mb-3">ИТОГ</h2>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Доставка
                                        <span id="delType"> курьером </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Способ оплаты
                                        <span id="paymentType"> картой </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong> Общая сумма </strong>
                                        </div>
                                        <div><span style="font-weight: bold" id="totalCheck">{{ tot }}</span> ₸</div>
                                    </li>
                                </ul>
                                <button type="submit" class="btn btn-primary btn-block" form="make_order"> ЗАКАЗАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock content %}