{% extends 'Shop/base.html' %}
{% load static %}
{#{% load filters %}#}
{% block content %}

    <div class="banner-wrapper">
        <div class="main-banner">
            <img src="{% static 'Shop/img/main-banner.jpg' %}" alt="">
        </div>

        <div class="slogan">
            <h1> Наш магазин</h1>
            <p><span class="rotate">КАЧЕСТВО, ДОСТУПНОСТЬ, УНИКАЛЬНОСТЬ, УСПЕХ</span></p>
        </div>
    </div>

    <main class="main-content">
        <section class="category-screen">
            <h2> Категории </h2>
            <ul class="category-list">
                <li class="cat1"><a href="#">Еда</a>
                    <div class="bg bg1"></div>
                </li>
                <li class="cat2"><a href="#">Посуда</a>
                    <div class="bg bg2"></div>
                </li>
                <li class="cat3"><a href="#">Бытовая Химия</a>
                    <div class="bg bg3"></div>
                </li>
                <li class="cat4"><a href="#">БАДЫ</a>
                    <div class="bg bg4"></div>
                </li>
                <li class="cat5"><a href="#">Косметика</a>
                    <div class="bg bg5"></div>
                </li>
                <li class="cat6"><a href="#">Аксессуары</a>
                    <div class="bg bg6"></div>
                </li>
            </ul>
        </section>

        <section class="recomendation-screen">
            <div class="main-banner">
                <img src="{% static 'Shop/img/recomend-banner.png' %}" alt="">
            </div>

            <div class="content-wrapper">
                <h2> Mы рекомендуем </h2>
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="owl-carousel">
                            <div class="product-box">
                                <div class="card">
                                    <div class="tag-box">
                                        <span>NEW!</span>
                                    </div>
                                    <div class="prod-wrap">
                                        <div class="img-box">
                                            <img src="{% static 'Shop/img/product.jpg' %}" alt="">
                                        </div>
                                        <div class="content-box">
                                            <h3>Lorem ipsum dolor sit amet.</h3>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nulla, cum
                                                dicta quod laudantium minima.</p>
                                            <a href="{% url 'shop:product' %}">Подробнее</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-box">
                                <div class="card">
                                    <div class="tag-box">
                                        <span>NEW!</span>
                                    </div>
                                    <div class="prod-wrap">
                                        <div class="img-box">
                                            <img src="{% static 'Shop/img/product.jpg' %}" alt="">
                                        </div>
                                        <div class="content-box">
                                            <h3>Lorem ipsum dolor sit amet.</h3>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nulla, cum
                                                dicta quod laudantium minima.</p>
                                            <a href="{% url 'shop:product' %}">Подробнее</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-box">
                                <div class="card">
                                    <div class="tag-box">
                                        <span>NEW!</span>
                                    </div>
                                    <div class="prod-wrap">
                                        <div class="img-box">
                                            <img src="{% static 'Shop/img/product.jpg' %}" alt="">
                                        </div>
                                        <div class="content-box">
                                            <h3>Lorem ipsum dolor sit amet.</h3>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nulla, cum
                                                dicta quod laudantium minima.</p>
                                            <a href="{% url 'shop:product' %}">Подробнее</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-box">
                                <div class="card">
                                    <div class="tag-box">
                                        <span>NEW!</span>
                                    </div>
                                    <div class="prod-wrap">
                                        <div class="img-box">
                                            <img src="{% static 'Shop/img/product.jpg' %}" alt="">
                                        </div>
                                        <div class="content-box">
                                            <h3>Lorem ipsum dolor sit amet.</h3>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic nulla, cum
                                                dicta quod laudantium minima.</p>
                                            <a href="{% url 'shop:product' %}">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}