{% extends 'Shop/base.html' %}
{% load static %}
{#{% load filters %}#}
{% block content %}

    <div class="banner-wrapper">
        <div class="main-banner">
            <img src="{% static 'Shop/img/main-banner.jpg' %}" alt="">
        </div>

        <div class="slogan">
            <h1> Наш магазин</h1>
            <p><span class="rotate">КАЧЕСТВО, ДОСТУПНОСТЬ, УНИКАЛЬНОСТЬ, УСПЕХ</span></p>
        </div>
    </div>

    <main class="main-content p-0">
        <section class="category-screen">
            <h2> Категории </h2>
            <ul class="category-list">
                {% for cat in categs %}
                <li class="cat" ><a href="#">{{ cat.name }}</a>
                    <img src="{{ cat.banner.url }}" alt="" class="bg">
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="recomendation-screen">
            <h2> Mы рекомендуем </h2>
            <div class="wrap-rec-banner position-relative">
                <div class="content-wrapper">
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="col-lg-12 col-md-12 col-sm-9 col-8 m-auto position-relative">
                                <div class="owl-carousel">
                                    {% for prod in prods %}
                                    <div class="product-box">
                                        <div class="card">
                                            <div class="tag-box">
                                                <span>NEW!</span>
                                            </div>
                                            <div class="prod-wrap">
                                                <div class="img-box">
                                                    <img src="{{ prod.productphoto_set.all}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h3>{{ prod.name }}</h3>
                                                    <p>{{ prod.desc_short }}</p>
                                                    <a href="{% url 'shop:product' prod.id %}">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-banner">
                    <img src="{% static 'Shop/img/recomend-banner.png' %}" alt="">
                </div>
            </div>

        </section>
    </main>

{% endblock content %}