{% extends 'Shop/base.html' %}
{% load static %}
{% load temp_filter %}
{% block content %}

    <div class="cart-banner">
        <img src="{% static 'Shop/img/cart-banner.jpg' %}" alt="" class="page-banner">
        <div class="page-info">
            <h1>{{ product.name }}</h1>
            <p><a class="blue" href="{% url 'shop:index' %}">Категория</a> / <span>Детали товара</span></p>
        </div>
    </div>

    <main class="product-main">
        <section class="product-screen">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 item-photo">
                        <div class="fotorama"
                             data-allowfullscreen="true"
                             data-arrows="false"
                             data-click="true"
                             data-swipe="true">
                            {% for p in product.productphoto_set.all %}
                                <img src="{{ p.img.url }}" alt='{{ p.alt }}'>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6 filters-box" style="border:0px solid gray">
                        <form action="{% url 'shop:add_cart' %}" method="post">
                            {% csrf_token %}
                            <h2 class="prod-name">{{ product.name }}</h2>
                            <ul class="filters mt-5">
                                {% for pr in prodch %}
                                    <li class="text-center m-0 mb-3">
                                        <div class="filter">
                                            <label id="chars{{ pr.id }}" for="prodch{{ pr.id }}"
                                                   onclick="select_char({{ pr.id }}, {{ pr.price }})">
                                                {% for v in pr.prodval_set.all %}
                                                    {{ v.prop.name }}:
                                                    <b style="color: black; margin-right: 5px">{{ v.value }}</b>
                                                {% endfor %}
                                            </label>
                                            <input type="radio" name="prodchars" id="prodch{{ pr.id }}"
                                                   value="{{ pr.id }}" hidden>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="counter-box">
                                <div class="">
                                    <a onclick="modify('minus')"
                                       class="minus decrease"><i class="fas fa-minus"></i>
                                    </a>
                                    <input class="quantity" min="0" name="amount" value="0"
                                           type="number" id="countAmount" onchange="modify('change')">
                                    <a onclick="modify('plus')"
                                       class="plus increase"><i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="price-box">
                                <h3 class="title-price">ИТОГ</h3>
                                <p><span id="pricebox" style="font-size: 2em"> 0 </span> (<span id="cost">0</span>тг X
                                    <span
                                            id="amountbox">0</span>шт)</p>
                            </div>

                            <div class="section">
                                <button class="btn btn-success" type="submit">
                                    Добавить в корзину
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-xs-9">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Описание</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Отзывы</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p style="padding:15px;">
                                    <small>
                                        Stay connected either on the phone or the Web with the Galaxy S4 I337 from
                                        Samsung.
                                        With 16 GB of memory and a 4G connection, this phone stores precious photos and
                                        video and lets you upload them to a cloud or social network at blinding-fast
                                        speed.
                                        With a 17-hour operating life from one charge, this phone allows you keep in
                                        touch
                                        even on the go.

                                        With its built-in photo editor, the Galaxy S4 allows you to edit photos with the
                                        touch of a finger, eliminating extraneous background items. Usable with most
                                        carriers, this smartphone is the perfect companion for work or entertainment.
                                    </small>
                                </p>
                                <small>
                                    <ul>
                                        <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
                                        <li>Available on GSM, AT T, T-Mobile and other carriers</li>
                                        <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz
                                            Class
                                            17 / 1700 / 2100 networks
                                        </li>
                                        <li>MicroUSB and USB connectivity</li>
                                        <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
                                        <li>Wi-Fi hotspot to keep other devices online when a connection is not
                                            available
                                        </li>
                                        <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
                                        <li>Front-facing camera features autofocus, an LED flash, dual video call
                                            capability
                                            and a sharp 4128 x 3096 pixel picture
                                        </li>
                                        <li>Features 16 GB memory and 2 GB RAM</li>
                                        <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
                                        <li>17 hours of talk time, 350 hours standby time on one charge</li>
                                        <li>Available in white or black</li>
                                        <li>Model I337</li>
                                        <li>Package includes phone, charger, battery and user manual</li>
                                        <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a
                                            mere 4.59 oz
                                        </li>
                                    </ul>
                                </small>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <ul class="product_comments">
                                    <li>
                                        <div class="comment-box">
                                            <span class="commentator"> Nick Fury </span> <span class="star"><i
                                                class="fas fa-star"></i></span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida,
                                                mauris at vestibulum malesuada, lacus leo vulputate metus, ut fermentum
                                                urna sem quis erat. Praesent nec ipsum eu dolor scelerisque cursus. Sed
                                                rutrum elit neque, vitae feugiat tellus finibus vel. Aliquam interdum
                                                lacus metus, vitae lacinia lorem suscipit ultricies. Nam pretium sit
                                                amet justo sit amet accumsan. Curabitur posuere sit amet massa sit amet
                                                commodo. </p>
                                            <span class="date">20.20.20</span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="comment-box">
                                            <span class="commentator"> Nick Fury </span> <span class="star"><i
                                                class="fas fa-star"></i></span> <span class="star"><i
                                                class="fas fa-star"></i></span> <span class="star"><i
                                                class="fas fa-star"></i></span> <span class="star"><i
                                                class="fas fa-star"></i></span> <span class="star"><i
                                                class="fas fa-star"></i></span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida,
                                                mauris at vestibulum malesuada, lacus leo vulputate metus, ut fermentum
                                                urna sem quis erat. Praesent nec ipsum eu dolor scelerisque cursus. Sed
                                                rutrum elit neque, vitae feugiat tellus finibus vel. Aliquam interdum
                                                lacus metus, vitae lacinia lorem suscipit ultricies. Nam pretium sit
                                                amet justo sit amet accumsan. Curabitur posuere sit amet massa sit amet
                                                commodo. </p>
                                            <span class="date">20.20.20</span>
                                        </div>
                                    </li>

                                    <li class="leave-comment">
                                        <div>
                                            <form action="">
                                                <div class="row p-0 m-0">
                                                    <div class="form-group p-0 col-lg-6">
                                                        <input class="w-100" type="text" name="" id=""
                                                               placeholder="Ваше ФИО">

                                                        <input class="w-100" type="text" name="" id=""
                                                               placeholder="Ваш номер телефона">
                                                    </div>
                                                    <div class="col-lg-6 d-flex align-items-center">
                                                        <div class="rating d-flex justify-content-center">
                                                            <span><input type="radio" name="rating" id="str5" value="5"><label
                                                                    for="str5" class="fas fa-star"></label></span>
                                                            <span><input type="radio" name="rating" id="str4" value="4"><label
                                                                    for="str4" class="fas fa-star"></label></span>
                                                            <span><input type="radio" name="rating" id="str3" value="3"><label
                                                                    for="str3" class="fas fa-star"></label></span>
                                                            <span><input type="radio" name="rating" id="str2" value="2"><label
                                                                    for="str2" class="fas fa-star"></label></span>
                                                            <span><input type="radio" name="rating" id="str1" value="1"><label
                                                                    for="str1" class="fas fa-star"></label></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <textarea placeholder="Ваш коментарий"></textarea>

                                                <button> Оставить коментарий</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}