{% extends 'shop/base.html' %}
{% load static %}
{% load temp_filter %}
{% block content %}

    <div class="sub-banner">
        <img src="{{ product.subcategory.category.banner.url }}" alt="" class="page-banner">
        <div class="page-info">
            <h1>{{ product.name }}</h1>
            <p>
                <a href="{% url 'shop:product' pk=product.subcategory.category.id %}">{{ product.subcategory.category.name }}</a>
                / <span>Детали товара</span></p>
        </div>
    </div>

    <main class="product-main">
        <section class="product-screen">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 item-photo">
                        <div class="fotorama"
                             data-allowfullscreen="true"
                             data-arrows="false"
                             data-click="true"
                             data-swipe="true">
                            {% for p in product.productphoto_set.all %}
                                <img src="{{ p.img.url }}" alt='{{ p.alt }}'>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6 filters-box" style="border:0px solid gray">
                        <form action="{% url 'shop:add_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="fast" value="full" hidden>
                            <h2 class="prod-name">{{ product.name }}</h2>
                            <ul class="filters mt-5">
                                    <li class="text-center m-0 mb-3">
                                        <div class="filter">
                                            <input type="radio" name="prodchars" id="prodch{{ pr.id }}"
                                                   value="{{ pr.id }}" hidden checked>
                                            <label id="chars{{ pr.id }}" for="prodch{{ pr.id }}">
                                                {% for v in pr.prodval_set.all %}
                                                    {{ v.prop.name }}:
                                                    <b style="color: black; margin-right: 5px">{{ v.value }}</b>
                                                {% endfor %}
                                            </label>
                                        </div>
                                    </li>
                            </ul>
                            <div id="opt" class="m-0 p-0">
                                <div class="counter-box">
                                    <div class="">
                                        <a onclick="modify('minus', {{ pr.price }})"
                                           class="minus decrease"><i class="fas fa-minus"></i>
                                        </a>
                                        <input class="quantity" min="0" name="amount" value="1"
                                               type="number" id="countAmount" onchange="modify('change')">
                                        <a onclick="modify('plus', {{ pr.price }})"
                                           class="plus increase"><i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="price-box">
                                    <h3 class="title-price">ИТОГ</h3>
                                    <p><span id="pricebox" style="font-size: 2em"> {{ pr.price }} </span> ₸ (<span id="cost">{{ pr.price }}</span>
                                        ₸
                                        X
                                        <span
                                                id="amountbox">1</span>шт)</p>
                                </div>
                                <div class="section">
                                    <button class="btn btn-success" type="submit">
                                        Добавить в корзину
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="w-100 p-3">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Описание</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Отзывы</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p style="padding:15px;">
                                    {{ product.desc }}
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <ul class="product_comments w-100" id="comments_view">
                                    {% for com in comment %}
                                        <li>
                                            <div class="comment-box">
                                                <span class="commentator"> {{ com.user_name }} </span>

                                                {% for rate in ''|center:com.rate %}
                                                    <span class="star"><i class="fas fa-star"></i></span>
                                                {% endfor %}

                                                <p>{{ com.text }}</p>
                                                <span class="date">{{ com.pub_date.isoformat }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    {#                                    {% if comment.paginator.num_pages > 1 %}#}
                                    {#                                        <li class="d-flex justify-content-center">#}
                                    {#                                            <ul class="page_list">#}
                                    {#                                                {% for p in  comment.paginator.page_range %}#}
                                    {#                                                    <li><a href="?page={{ p }}">{{ p }}</a></li>#}
                                    {#                                                {% endfor %}#}
                                    {#                                            </ul>#}
                                    {#                                        </li>#}
                                    {#                                    {% endif %}#}
                                </ul>
                                <li class="leave-comment">
                                    <div>
                                        <form action="{% url 'shop:add_comment' %}" method="post" id="send_comment">
                                            {% csrf_token %}
                                            <input type="number" id="prod_id" name="prod_id" value="{{ product.id }}"
                                                   hidden>
                                            <div class="row p-0 m-0">
                                                <div class="form-group p-0 col-lg-6">
                                                    <input class="w-100" type="text" name="user_name" id="user_name"
                                                           placeholder="Ваше ФИО" required>

                                                    <input class="w-100" type="text" name="phone_number"
                                                           id="phone_number"
                                                           placeholder="Ваш номер телефона" required>
                                                </div>
                                                <div class="col-lg-6 d-flex align-items-center">
                                                    <div class="rating d-flex justify-content-center flex-row-reverse">
                                                            <span><input type="radio" name="rating" id="str5" value="5"><label
                                                                    for="str5" class="fas fa-star"></label></span>
                                                        <span><input type="radio" name="rating" id="str4"
                                                                     value="4"><label
                                                                for="str4" class="fas fa-star"></label></span>
                                                        <span><input type="radio" name="rating" id="str3"
                                                                     value="3"><label
                                                                for="str3" class="fas fa-star"></label></span>
                                                        <span><input type="radio" name="rating" id="str2"
                                                                     value="2"><label
                                                                for="str2" class="fas fa-star"></label></span>
                                                        <span><input type="radio" name="rating" id="str1"
                                                                     value="1"><label
                                                                for="str1" class="fas fa-star"></label></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea placeholder="Ваш коментарий" id="comment_text" name="text"
                                                      required></textarea>
                                            <button type="submit"> Оставить коментарий</button>
                                        </form>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}