{% extends 'Shop/base.html' %}
{% load static %}
{% load temp_filter %}
{#{% load filters %}#}
{% block content %}


    <div class="cart-banner">
        <img src="{% static 'Shop/img/background.jpg' %}" alt="" class="page-banner">
        <div class="page-info">
            <h1>Категория</h1>
            <form class="d-flex justify-content-center align-content-center mt-5" action="">
                <input type="text" class="search-bar" placeholder="Поиск">
                <button type="submit" class="search-btn"> ИСКАТЬ</button>
            </form>
        </div>
    </div>

    <main class="shop-main">
        <section class="shopping-screen">
            <div class="container-fluid p-5">
                <div class="row">
                    <div class="col-lg-3 col-md-10 col-sm-12 mr-auto ml-auto">
                        <form action="">
                            <div class="filter-sidebar">
                                {% if subcategory %}
                                    <div class="sub-cat-box">
                                        <h2>Подкатегории</h2>
                                        <ul class="sub-cats">
                                            {% for sub in subcategory %}
                                                <li>
                                                    <a href="{% url 'shop:product_subcat' sub.id %}"> {{ sub.name }} </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div class="filters-box">
                                    <h2>Фильтры</h2>
                                    <ul>
                                        {% for prop in props %}
                                            <li>
                                                <label for="inputState">{{ prop.name }}</label>
                                                <select id="inputState" class="form-control" name="{{ prop.name }}">
                                                    <option value="-1">Не выбрано</option>
                                                    {% for val in prop.prodval_set.all|unique %}
                                                        {% if request.GET|is_contains:val  %}
                                                            <option value="{{ val }}"
                                                                    selected>{{ val }}</option>
                                                        {% else %}
                                                            <option value="{{ val }}">{{ val }}</option>
                                                        {% endif %}

                                                    {% endfor %}

                                                </select>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="rating-box">

                                </div>
                                <div class="select-price-box">
                                    <h2>Ценовой промежуток</h2>
                                    <div class="wrapper-price">
                                        <fieldset class="filter-price">
                                            <div class="price-field">
                                                {% if min_price_curr != -1 %}
                                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}"
                                                           value="{{ min_price_curr }}"
                                                           id="lower">
                                                {% else %}
                                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}"
                                                           value="{{ min_price }}"
                                                           id="lower">
                                                {% endif %}


                                                {% if max_price_curr != -1 %}
                                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}"
                                                           value="{{ max_price_curr }}"
                                                           id="upper">
                                                {% else %}
                                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}"
                                                           value="{{ max_price }}"
                                                           id="upper">
                                                {% endif %}

                                            </div>
                                            <div class="price-wrap">
                                                <div class="price-container">
                                                    <div class="price-wrap-1">
                                                        <label for="one">₸</label>
                                                        <input id="one" name="min_price">
                                                    </div>
                                                    <div class="price-wrap_line">-</div>
                                                    <div class="price-wrap-2">
                                                        <label for="two">₸</label>
                                                        <input id="two" name="max_price">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <button class="f-btn filter-btn" type="submit"> Фильтровать</button>
                                <a class="f-btn reset-btn" href="#"> Сбросить </a>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-9">
                        <div class="container">
                            <div class="row">
                                <div class="sorting-box">
                                    <form class="sorting" action="">
                                        <label for="inputState">Сортировать по: </label>
                                        <select id="inputState" class="form-control">
                                            <option selected>Значение</option>
                                            <option>Значение</option>
                                            <option>Значение</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="all-products-box d-flex justify-content-between w-100 p-0 mt-4 flex-wrap">
                                    {% for pr in product %}
                                        <div class="product-box">
                                            <div class="card">
                                                <div class="tag-box">
                                                    <span>NEW!</span>
                                                </div>
                                                <div class="prod-wrap">
                                                    <div class="img-box">
                                                        {% for ph in pr.productphoto_set.all %}
                                                            <img src="{{ ph.img.url }}" alt="{{ ph.alt }}">
                                                        {% endfor %}
                                                    </div>
                                                    <div class="content-box">
                                                        <h3>{{ pr.name }}</h3>
                                                        <p>{{ pr.desc_short }}</p>
                                                        <a href="{% url 'shop:product_detail' pr.id %}">Подробнее</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}